.title
{
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.g-signin2
{
    margin-top: 150px;
    width: 100%;
}

.g-signin2 > div
{
    margin: 0 auto;
}

.login-note
{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 150px;
}

.failed-message
{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: red;
}

.wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 30px;
    background-color: rgb(229, 229, 229);
    border: 2px solid black;
}