.title
{
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.g-signin2
{
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.login-note
{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.failed-message
{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: red;
}