body
{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.canvasDiv
{
    position: absolute;
    width: 99%;
    height: 90%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.canvas
{
    position: relative;
}

.logout-button
{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    margin: 10px;
}

.pixel-info
{
    position: absolute;
    bottom: 10px;
    text-align:center;
}